.list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.list li {
    margin: 0 1em;
}

.list svg {
    font-size: 2em;
    cursor: pointer;
    color: red;
}